html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.aboutbg-color{
    background: linear-gradient(to right, #000000 62%, #003366 100%);
}
/*start  header */
/* register page */
#topnav .topnav-bar .search-container{
    float:right;
    margin-top: 6px;
    margin-right: 28px;
}
#topnav .topnav-bar .preamble {
    display: flex;
    float: right;
    margin-top: 8px;
}
#topnav .topnav-bar .preamble p{
    color:aliceblue;
    margin-right: 25px;
}
#topnav .topnav-bar .preamble a{
    text-decoration: none;
}
#topnav .topnav-bar .social-media-logo {
    float: right;
    margin-top: 8px;
}
#topnav .topnav-bar{
    background-color:#f7057e;
    height: 48px;
}
#topnav .topnav-bar i.fa.fa-facebook-square,#topnav .topnav-bar  i.fa.fa-twitter-square{
    color: aliceblue;
    margin-right: 31px;
    font-size: 28px;
}
/* end of register page */
/* start navbar */
ul.navbar-nav {
    margin-left: auto;
}
 li.nav-item {
   margin-left: 51px;
}
#header .navbar{
    background-color: #ffffff;
    width: 100%;
}
/* end of navbar */
/* triangle */
.header-triangle{
    width: 14%;
    margin-top: -109px;
    position: absolute;
}
/* triangle */
/* end header */
#aboutpage-content .aboutpage-details img{
    width: 100%;
    margin-top: 13px;
}
#aboutpage-content .team-description{
    position: relative;
    display: inline-block;
    margin-top: 36px;
}

#aboutpage-content .team-description p {
    position: absolute;
    z-index: 999;
    /* margin: 0 auto; */
    left: 0;
    right: 0;        
    text-align: center;
    top: 35%;
    font-family: Arial,sans-serif;
    color: #fff;
    width: 63%;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    /* background: linear-gradient(to right, #000000 0%, #003366 68%); */
    
}
#aboutpage-content #bottom .content-left,#aboutpage-content #bottom .content-right{
    text-align: center;
    font-size: 18px;
    margin-top: 50px;
    background: linear-gradient(to right, #bab6b2 0%, #ffffff 100%);
}
#aboutpage-content .team-description img{
    width: 100%;
}
#aboutpage-content #bottom .content-left p.heading1,#aboutpage-content #bottom .content-right p.heading2{
    font-weight: 600;
}
/* start footer section */
.footer-logo{
    height: 50px;
    margin-top: 13px;
}
img.foot-img1 {
    height: 90px;
    width: 142px;
}
img.foot-img2 {
    height: 90px;
    width: 142px;
}
div#footer-section {
    margin-top: 50px;
    background-color: #f7057e;
}
.news-list1 {
    display: inline-flex;
}
.news-list2 {
    display: inline-flex;
}
#footer-section .row{
    margin-left: auto;
}
p.footer-headline {
    font-size: 17px;
    margin-top: 12px;
    color: #ffffff;
}
p.footer-content {
    font-size: 17px;
}
h5.navigation {
    font-size: 17px;
    color: #ffffff;
    text-align: center;
}
ul.navbar-list-items {
    list-style-type: none;
    line-height: 45px;
    text-align: center;
}
#footer-section ul.navbar-list-items li a{
    color:#000000;
}
h5.news-title {
    font-size: 17px;
    color: #ffffff;
}
p.list-content1 {
    margin-left: 12px;
    font-size: 17px;
    color: #000000;
}
p.list-content2 {
    margin-left: 12px;
    font-size: 17px;
    color: #000000;
}
h5.foot-contact {
    color: #ffffff;
    font-size: 17px;
}
p.foot-contact-heading {
    color: #000000;
    font-size: 17px;
    line-height: 66px;
}
p.footer-contact-address {
    font-size: 18px;
}
#footer-section .phone-no{
    font-size: 15px;
}
.footer-facebook-icon{
    width: 4%;
    
}
.footer-twitter-icon{
    width: 4%;
    
}
.footer-insta-icon{
    width: 4%;
    
}
.footer-youtube-icon{
    width: 5%;
    
}
.socialmedia-link {
    padding-left: 91px;
}
.copyrights{
    padding-left: 60px;
}
div#footer-bottom {
    background-color: #ffffff;
}
p.copyrights {
    font-size: 17px;
}
/* end of footer section */



/* start of media query */
@media (max-width: 480px) { 
    .header-triangle{
        display:none;
    }
    #topnav .topnav-bar .search-container{
        display:none;
    }
    #aboutpage-content .team-description p {
        display: none;
    }
  #aboutpage-content .aboutpage-details  h3 {
        font-size: 1rem;
    }
} 
/* tablets */
@media (min-width: 481px) and (max-width: 767px) { 
    .header-triangle{
        display:none;
    }
    
} 
/* ipad  */
@media (min-width: 768px) and (max-width: 1024px){ 
    .header-triangle{
        display:none;
    }
    li.nav-item {
        margin-left: 24px;
    }
    #aboutpage-content .team-description p{
        font-size: 15px;
        margin-top: -53px;
    }
} 

/* ipad pro */
@media (min-width: 1024px) and (max-width: 1366px){
    li.nav-item {
        margin-left: 54px;
    }
    #aboutpage-content .team-description p {
        margin-top: -66px;
    }
}
    /* galaxy S5 */
@media (min-width: 360px) and (max-width: 640px){
    #topnav .topnav-bar .preamble p {
        color: aliceblue;
        font-size: 14px;
    }

}
/* end of media query */