html, body {
    max-width: 100%;
    overflow-x: hidden;
}
/* start header */
/* register page */
#topnav .topnav-bar .search-container{
    float:right;
    margin-top: 6px;
    margin-right: 28px;
}
#topnav .topnav-bar .preamble {
    display: flex;
    float: right;
    margin-top: 8px;
}
#topnav .topnav-bar .preamble p{
    color:aliceblue;
    margin-right: 25px;
}
#topnav .topnav-bar .preamble a{
    text-decoration: none;
}
#topnav .topnav-bar .social-media-logo {
    float: right;
    margin-top: 8px;
}
#topnav .topnav-bar{
    background-color:#f7057e;
    height: 48px;
}
#topnav .topnav-bar i.fa.fa-facebook-square,#topnav .topnav-bar  i.fa.fa-twitter-square{
    color: aliceblue;
    margin-right: 31px;
    font-size: 28px;
}
/* end of register page */
/* start navbar */
ul.navbar-nav {
    margin-left: auto;
}
 li.nav-item {
   margin-left: 51px;
}
#header .navbar{
    background-color: #ffffff;
    width: 100%;
}
/* end of navbar */
/* triangle */
.header-triangle{
    width: 14%;
    margin-top: -109px;
    position: absolute;
}
/* triangle */
/* end of header */
.moviebg-color{
    background-color: #000000;
}

/* start of slideshow section */

#movieppage-section .main-slide .owl-carousel {
    position: relative;
}
#movieppage-section .main-slide .owl-carousel .owl-item img {
    display: block;
    width: 100%;
  
}

#movieppage-section .main-slide .owl-carousel .text {
    color: #f2f2f2;
    font-size: 20px;
    /* padding: 8px 12px; */
    position: absolute;
    bottom: 8px;
    width: 100%;
    padding-right: 800px;
    padding-bottom: 171px;
    text-align: center;
    line-height: 40px;
}
#movieppage-section .main-slide .owl-carousel .text h4{
    color: #ffffff;
    font-size: 25px;
}
#movieppage-section .main-slide .owl-carousel .txt-bottom{
    display: flex;
    margin-left: 500px;
}
/* end of slideshow */

/* start second slideshow */
#movieppage-section .main-slide #owl-slide2 .owl-item img{
    display: block;
    width: 100%;
    height: 145px;
}
#movieppage-section .main-slide #owl-slide2  .owl-nav.disabled+.owl-dots, #movieppage-section .main-slide #owl-slide3 .owl-nav.disabled+.owl-dots{
    display: none;
}
/* end second slide show */



/* start overlay */
#owl-slide3 .item{
    position: relative;
    /* width: 50%; */
  }
  
  #movieppage-section .main-slide #owl-slide3 .item img {
    display: block; 
    width: 100%;
    height: 500px;
  }
  
    #owl-slide3 .item .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background:linear-gradient(90deg, rgba(0,0,0,1) 30%, rgba(83,25,21,1) 85%);;
  }
  
  #owl-slide3 .item:hover .overlay {
    opacity: 1;
  }
  
  #owl-slide3 .item .overlay .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding-right: 0px;
  }
/* ending overlay */

/* start of thriller slideshow */
#owl-slide4 .owl-dots .owl-dot span{
    display: none;
}
#movieppage-section .main-slide #owl-slide4 .item img {
    height: 395px;
}


/* end of thriller slideshow */

/* start of final slideshow */


/* end of final slideshow */

/* start of footer  */
.footer-logo{
    height: 50px;
    margin-top: 13px;
}
img.foot-img1 {
    height: 90px;
    width: 142px;
}
img.foot-img2 {
    height: 90px;
    width: 142px;
}
div#footer-section {
    margin-top: 75px;
    background-color: #f7057e;
}
.news-list1 {
    display: inline-flex;
}
.news-list2 {
    display: inline-flex;
}
#footer-section .row{
    margin-left: auto;
}
p.footer-headline {
    font-size: 17px;
    margin-top: 12px;
    color: #ffffff;
}
p.footer-content {
    font-size: 17px;
}
h5.navigation {
    font-size: 17px;
    color: #ffffff;
    text-align: center;
}
ul.navbar-list-items {
    list-style-type: none;
    line-height: 45px;
    text-align: center;
}
#footer-section ul.navbar-list-items li a{
    color:#000000;
}
h5.news-title {
    font-size: 17px;
    color: #ffffff;
}
p.list-content1 {
    margin-left: 12px;
    font-size: 17px;
    color: #000000;
}
p.list-content2 {
    margin-left: 12px;
    font-size: 17px;
    color: #000000;
}
h5.foot-contact {
    color: #ffffff;
    font-size: 17px;
}
p.foot-contact-heading {
    color: #000000;
    font-size: 17px;
    line-height: 66px;
}
p.footer-contact-address {
    font-size: 18px;
}
#footer-section .phone-no{
    font-size: 15px;
}
.footer-facebook-icon{
    width: 4%;
    
}
.footer-twitter-icon{
    width: 4%;
    
}
.footer-insta-icon{
    width: 4%;
    
}
.footer-youtube-icon{
    width: 5%;
    
}
.socialmedia-link {
    padding-left: 91px;
}
.copyrights{
    padding-left: 60px;
}
div#footer-bottom {
    background-color: #ffffff;
}
p.copyrights {
    font-size: 17px;
}
/* end of footer */

/* media query */
/* mobile phones */
@media (max-width: 480px) { 
    .header-triangle{
        display:none;
    }
    #topnav .topnav-bar .search-container{
        display:none;
    }
    
} 
/* tablets */
@media (min-width: 481px) and (max-width: 767px) { 
    .header-triangle{
        display:none;
    }
    
} 
/* ipad  */
@media (min-width: 768px) and (max-width: 1024px){ 
    .header-triangle{
        display:none;
    }
    li.nav-item {
        margin-left: 24px;
    }
} 

/* ipad pro */
@media (min-width: 1024px) and (max-width: 1366px){
    li.nav-item {
        margin-left: 54px;
    }
}
    /* galaxy S5 */
@media (min-width: 360px) and (max-width: 640px){
    #topnav .topnav-bar .preamble p {
        color: aliceblue;
        font-size: 14px;
    }
}
/* media query */